body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #00AEEF, #FFA500, #FF69B4, #00FF7F);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.head {
    font-size: 32px;
    margin: 0;
}

.title {
    font-weight: bold;
}

.quote {
    font-size: 16px;
    margin: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFA500;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
        flex-wrap: wrap;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
